/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  padding: 2px;
  width: 700px;
}

.header-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}
